html, body{
    margin:0;
    padding:0;

}

.banner{
    /* background-image: url("images/abstract2.jpg"); */
    background: rgb(255, 255, 255);
    height:100vh;
    width:100%;
    position:fixed;
}
/* font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Amatic SC', cursive; */

.navbar{
    
}
.content{

}
.navbar-logo{
    font-family: 'Caveat', cursive;
    font-size:70px;
    color: #dd1314;
    text-align: center;
    line-height:1;
}
.navbar-logo-colorChange{
    color:black;
}

.navbar-phone{
    font-family: 'Amatic SC', cursive;
    font-size:30px;
    line-height:1.5;

}
.navbar-email{
    font-family: 'Amatic SC', cursive;
    font-size:30px;
    line-height:1;

}
.navbar-resume{
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
}
.navbar-divider{

}

.title{
    font-family: 'Amatic SC', cursive;
    font-size:50px;
    color: #dd1314;
    line-height:1;
}

.profile-img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:80px;
    border-radius:50%;
}
.view-resume a, .view-portfolio a{
    color:rgb(139, 139, 139);
    font-size:20px;
}
.view-resume a:hover, .view-portfolio a:hover{
    color:rgb(95, 95, 95);
    font-size:18px;
    text-decoration:none;
    transition:0.2s;

}
.view-portfolio{
    margin-top:-200px;

}
.arrow1{
    color:rgb(139, 139, 139);
    margin-top:-260px;
    font-size:20px;
    margin-right:10px;

}

.arrow-img{
    width:50px;
}
